/* logo e testo */
.imm.logo{
    display: inline-block;
    height: 100px;
    vertical-align: middle;
    background-color: white;
}


.logo-text{
    display: inline;
    font-size: 50px;
   
}

.main-color{
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* generic */
.container{
    width: 50%;
    height: 650px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
}

main{
    padding-top: 10px;
    padding-left: 40px;
}

section{
    padding-bottom: 20px;
}

/* Utilities */
hr{
    color: lightgrey;
}

h2::before{
    content: "\25BE";
}

.check{
    display: inline;
    color: green;
    font-size:12px ;
    border-radius: 50%;
    border: 1px solid green;
    padding: 1px 3px;
}

.cross{
    display: inline;
    color: red;
    font-size:12px ;
    border-radius: 50%;
    border: 1px solid red;
    padding: 1px 3px;
}

span{
    font-size: 18px;
}


.text{
    padding-bottom: 20px;
}

/* navigazione */
.navigation-button{
    padding-top: 10px;
    padding-left: 30px;
}

.add-edit{
    border: 1px solid lightgrey;
    color: lightgrey;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.add-edit.blue{
    border: 0;
    color: white;
    background-color: dodgerblue;
}

/* Etichette */

.etichette{
    display: inline;
    padding:4px 8px;
    border-radius: 10px;
    color: white;

}

.editorial{
    background-color: dodgerblue;
}

.q1-goals{
    background-color: violet;
    
}

.recruiting{
    background-color: green;
}

.mobile{
    background-color: orange;

}

.website{
    background-color: palevioletred

}

.sales{
    background-color: lightgreen;

}



